@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Work Sans", sans-serif;
}
/* nav bar started from here */
.frame-img-sec {
  display: flex;
  align-items: center;
}

h3 > img {
  width: 86.041px;
  height: 40px;
  padding: 0px 20px;
}

.head-title {
  font-size: 2.8125rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 180px;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  margin-right: 30px;
  list-style: none;
}

nav li a {
  text-decoration: none;
  font-size: 1.125rem;
}

.follow-us {
  background-color: rgba(11, 2, 35, 0.1);
  padding: 17px 18px 17px 18px;

  border-radius: 8px;
}
/* nav bar started ended here */

/* banner started from here */

.banner {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
}

.banner img {
  max-width: 600px;
  height: 500px;
  padding-left: 30px;
  margin-top: 30px;
}

.banner-content {
  background-image: url(../images/Group_14_2.png);
  background-repeat: no-repeat;
  width: 100%;

  padding: 30px 200px 35px 150px;
}

.banner-head {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
}

.goat {
  font-size: 5.937rem;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-content > ul {
  font-size: 1.25rem;
  padding-left: 0px;
}

.banner-content li {
  list-style: none;
  padding: 17px 0px;
}

.fa-regular {
  margin-right: 10px;
}

.fa-solid {
  margin-right: 10px;
}

.btn-prime1 {
  border: 0px;
  border-radius: 48px;
  padding: 21px 40px;
  font-weight: 600;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
}

.btn-prime2 {
  border: 0px;
  border-radius: 48px;
  padding: 21px 40px;
  font-weight: 600;
  background-color: #4ec5f7;
}
/* banner part ended here */

/* we are gamer , part starts from here */
.gamer {
  display: flex;
}

.head-title2 {
  font-weight: 700;
  font-size: 3rem;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.know-more {
  float: right;
}
.text-description {
  color: #534c64;
  font-size: 1.125rem;
  text-align: right;
}

.purpose-description {
  text-align: right;
  color: #534c64;
}
/* we are gamer , part ended here */

/* responsive media queries */
/* mobile devices */
@media screen and (max-width: 576px) {
  nav,
  .gamer {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
    padding: 15px 0px;
    justify-content: center;
  }

  nav li {
    margin-top: 15px;
  }

  .banner img {
    width: 95%;
    height: auto;
    padding: 0px 10px;
  }

  .follow-us {
    width: 180px;
    padding: 10px 15px;
  }

  .banner {
    display: flex;
    flex-direction: column-reverse;
  }

  .banner-content {
    padding: 0px 2px;
  }
  .text-description {
    text-align: center;
    padding: 0px 10px;
  }
  .ralph {
    width: 100%;
  }
  .we-are-gamer {
    position: relative;
  }
  .know-more {
    margin: 0;
    position: absolute;
    left: 50%;
    margin-top: 24px;
    transform: translate(-50%, -50%);
  }
  .head-title2 {
    font-size: 2.6rem;
    font-weight: 700;
  }
  .text-description,
  .purpose-description,
  .head-title2 {
    text-align: center;
  }
}

/* medium devices and tablet */
@media screen and (min-width: 576px) and (max-width: 960px) {
  nav{
padding-left: 0px 10px 0px 0px;
  }
  .frame-img-sec img{
    
    padding: 0px 10px 0px 0px;
  }
 
  nav li {
    margin-right: 18px ;
  }
 
  .follow-us {
    width: 180px;
  }
  .banner-content{
    padding: 0px 20px;
  }
  .group18{
    padding-top: 40px;
    width: 470px;
    height: 100%;
  }
  .head-title2{
    text-align: right;

  }
  .ralph{
    margin-top: 170px;
    width: 680px;
height: 389px;
  }
}
